.recipe {
  box-shadow: 0px 5px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
  font-family: "Georama", sans-serif;
}

.image {
  width: auto;
  height: 280px;
  margin: 2%;
}

h1 {
  margin: 3% 10% 0%;
}

.recipe p {
  font-size: 22px;
  margin: 2%;
}

.recipe ul {
  margin: 2% 12%;
}

.recipe li {
  width: auto;
}
